@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}
body{
  overflow-x: hidden;
  text-transform: uppercase;
}


.container {
  max-width: 1674px;
  margin:0px auto;
}
section{
  padding: 5% 10%;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  max-width: 1674px;
}

.logo a,
.nav_links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.logo a{
     font-size: 24px;
}
.nav_links ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.line {
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.line1 {
  width: 30px;
}

.line2 {
  width: 20px;
}

.line3 {
  width: 10px;
}

.hero_section {
  background: url("images/Rectangle\ 66.png");
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.hero_section::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 100px;
  width: 100%;
  height: 100%;
  background-image: url('images/bubble 1.png');
  background-size: 950px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  animation: spin 30s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: rgba(248, 247, 245, 0.2); 
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 0px 0px rgba(248, 247, 245, 0.2);
  z-index: 1;
}

.hero_content {
  position: relative;
  z-index: 2;
  width: 60%;
  padding: 20% 20px 20% 1%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: transparent;
}

.hero_content h1 {
  font-size: 72px;
  font-weight: 800;
  max-width: 502px;
  line-height: 1.2;
  color: #00000099;
}

.hero_content p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  max-width: 502px;
}

.btn {
  display: flex;
  gap: 30px;
}

.btn button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 18px;
  cursor: pointer;
}

#btn1 {
  background-color: white;
}
#btn1:hover{
  background-color:#00000099 ;
  color: white ;
}
#btn2 {
  background-color: #D996F7;
  color:white;
}

#btn2:hover{
  background-color: white;
  color: #D996F7 ;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background-color: #D996F7;
  padding:15px 0;

}

/*.marquee-content {
  display: flex;
  /*animation: scroll-left 20s linear infinite;*/
}
*/
.marquee-content {
  display: flex;
  position: relative; 
}

.marquee-content span {
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  padding-right: 10px; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }

}


/*About us */
.about_us{
    background: url("images/Home\ About\ Techof\ \(2\).png");
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  background-size: cover;
}
.about_us_content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about_us_content h1{
   font-size: 40px;
   font-weight:1000;
   text-align: end;
   text-transform: uppercase;
}


.about_us_content hr{
  font-size: 24px;
  font-weight: bold;
  border: 1.5px solid black;

}


.about_us_card{
 background-image: url('images/image 28.png');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  transform-origin: center;
  border-radius:50px;
  padding-top: 30%;
  margin-top: 50px;
  position: relative;

}

.dig_deeper{
  position: absolute;
  top: 5%;
  left: 20%;
}
.about_card_content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(248, 247, 245, 0.25); 
  backdrop-filter: blur(5px); 
  padding: 5% 10%;
  margin-bottom: 0;
  border-radius: 50px;
  width: 100%;
}


.about_card_content h2{
  max-width: 700px;
  width: 100%;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  color: #00000099;
}

.about_card_content p{
   color: #00000099;

}

.about_btn{
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 200px;
  margin: auto;

}

.ugc_community{
  background:url("images/Community\ \(3\).png");
    background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  background-size: cover;
  padding: 5% 10% 10% 10%;
}

.ugc_card{
  background: #D996F7;
  backdrop-filter: blur(20px);
}
.ugc_card_header{
  display: flex;
  gap: 20px;
}


.ugc_hr{
   border: 1.5px solid white;
   color: white;
   background-color: white;
   max-width: 100%;
}
.ugc_btn{
margin-right: 0px;
}

.academy{
  background: url("images/Rectangle\ 58.png");
    background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  background-size: cover;
    padding:5% 10%;
}
.academy-item {
  margin: 70px 30px;
  background: white;
  padding-bottom:20%;
 display: flex;
  flex-direction: column;
  gap: 50px;
 border-radius: 20px;
 width: 90%;
  text-align: center;
  border:1px solid rgb(44, 43, 43);
  transition: transform 0.3s ease-in-out;
}
.owl-item.center {
  scale: 1.15;
  z-index: 3;
}

.owl_item {
  scale: 0.5;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  position: absolute;
  top: 50%;
}

.owl-nav button.owl-prev {
  left: -25px;
}
.owl-nav button.owl-next {
  right: -25px;
}

.owl-nav button span {
  font-size: 50px;
}
.academy-item img{
  min-height: 150px;
  object-fit:cover;
  border-radius: 20px;
}

.academy-item h4 {
  font-weight: bolder;
  color: #222;
  font-size: 24px;
}
.academy-item button{
  margin: auto;
  max-width: 250px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid black;
}

/*Agency*/
.agency{
  background: url("images/Agency\ \(1\).png");
    background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  background-size: cover;
  padding: 5% 10% 10% 10%;
}
.agency-content h1{
   text-align: start;
}

.agency_body{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_agency{
  margin: auto;
  margin-top: 5%;
}
.agency_btn1{
  width: 350px;
}
.agency_card{
overflow: hidden;
position: relative;
display: flex;
flex-direction: column;
gap: 70px;

}

.agency_card::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url('images/Clip path group.png');
  background-size:220px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  transform-origin: center;
}

.agency_cards_content{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.ads {
  background-image: url("images/Service block.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 130px;
  border-radius:50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 15px;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.Google_ads{
   background-image: url("images/Service block (1).png");
}
.tiktok{
   background-image: url("images/Service Service block (2).png");
}

.creativa{
   background-image: url("images/Service Block II.png");
     width: 350px;

}
.email_mkt{
   background-image: url("images/Service block (3).png");

}
.ads:hover {
  transform: scale(1.03);
}

.ads_content {
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.ads_content h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  width: 100px;
}

.ads_content span {
  font-size: 40px;
  font-weight: bolder;
  max-width: 100px;
   position: relative;
  top: 30px;
  right: 30px;
}
.btn_agency{
   display: flex;
   gap: 20px;

}

.agency_btn{
  font-size: 20px;
  max-width: 350px;
  padding: 10px 30px;
  border-radius: 10px;
  border:1px solid black;
}
/*footer*/
.footer {
  background-color:whitesmoke;
  padding-top: 50px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  padding: 30px 5% 50px 10%;

}
.footer-left{
  width: 50%;
}
#dig_deeper{
  font-weight: bolder;
  font-size: 40px;
  margin-left:10%;
}

.search_bar{
  margin: 15px 0 30px 0px;
  display: flex;

}

.search_bar input {
  padding: 10px 20px;
   outline: none;
   border-radius: 20px;
   border: 1.5px solid black;
   border-radius: 20px 0px 0px 20px;
   width: 300px;

}

.search_bar button {
  color: black;
  padding: 10px 20px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  font-size: 24px;
  width: 100px;
  border: 1.5px solid black;
}

.social-icons {
  display: flex;
  gap: 20px;
}
.social-icons i{
  font-size: 20px;
  color: black;
}
#tiktok{
  border: 1px solid black;
   font-size: 16px;
   padding: 2px;
}
.footer-left p {
  margin-top: 20px;
  font-size: 12px;
}

.footer-right {
  display: flex;
  gap: 60px;
  width: 50%;
}

.footer-links p {
  margin: 5px 30px;
  font-size: 16px;
  font-weight: 500;
}
.footer-contact{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-btn {
  padding: 10px 20px;
  background-color: #D996F7;
  border: none;
  border-radius: 10px;
  color:white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #c77be7;
}


