
.about_hero_section {
  background: url("images/About us.png");
   padding: 0% 10% 0 10%;
}

.about{
    display: flex;
}
.hero_content{
    padding: 20% 20px 0% 1%;
}
.about_content {
  width: 50%;
    display: flex;
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.about_image {
  width: 50%;
  position: relative;

}
.about_image img{
    width: 100%;

}

.dig_deeper2{
    position: absolute;
    right: 10%;
    top: 10%;
    left: 5%;
}


.about_us_video {
  padding: 0;
  text-align: center;
}

.video-wrapper {
  position: relative;
  max-width: 100%;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
}

.youtube-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 28px;
  color: white;
  background-color:transparent;
  border: 2px solid whitesmoke;
  padding: 10px 40px 10px 20px;
  border-radius: 20%;
  cursor: pointer;
}

#pauseButton{
  display: none;
}
.team{
  background: url("../images/About us (2).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.team-grid {

  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 30px 0 0;
}

.member {
  display: flex;
  justify-content: space-between;

}
.flex_reverse{
  flex-direction: row-reverse;
}
.member_imag {
  width: 329px;
  height: 329px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}
.member_content{
  display: flex;
  flex-direction: column;
}
.member_imag img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  object-fit: cover;
  border-radius: 50%;
}

.purple-shadow {
  box-shadow: 0 0 50px 50px #d19eff;
}

.green-shadow {
  box-shadow: 0 0 50px 50px #C1FF72;
}

.member h3 {
  font-size: 62px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  max-width: 395px;
}

.member ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #333;
  max-width: 502px;
}

.member ul li {
  margin: 5px 0;
  max-width: 522px;
} 

.bullet{
  color: violet;
  font-size: 18px;
  font-weight: bolder;
  margin-right: 10px;
}





/*  300px to 660px */
@media screen and (max-width: 660px) {
  .about {
    flex-direction:column;
    align-items: center;
  }

  .about_content {
    width: 100%;
    padding:40% 5%;
    text-align: center;
  }

  .about_image{
    width: 100%;
    display: none;
  }

  .about_image img { 
    display: none;
  }
  .about_content {
    gap: 30px;
  }

  .dig_deeper2 {
    position: static;
    margin-top: 20px;
    display: none;
  }
.youtube-icon {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 20px;
  color: white;
  background-color:transparent;
  border: 2px solid whitesmoke;
  padding: 10px 30px 10px 20px;
  border-radius: 20%;
  cursor: pointer;
}

  .member {
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    text-align: center;
    gap: 50px;
  }

  .member_content {
    align-items: center;
  }

  .member h3 {
    font-size: 34px;
  }

  .member ul {
    font-size: 14px;
    text-justify: center;
  }

  .member_imag {
    width: 200px;
    height: 200px;
  }

  .bullet {
    font-size: 16px;
  }
}

/*  661px to 767px */
@media screen and (min-width: 661px) and (max-width: 767px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about_content, .about_image {
    width: 100%;
    padding: 8% 5%;
    text-align: center;
  }

  .about_content {
    gap: 35px;
  }

  .dig_deeper2 {
    position: absolute;
    margin-top: 0px;
  }

  .member {
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    text-align: center;
    gap: 30px;
  }

  .member_content {
    align-items: center;
  }

  .member h3 {
    font-size: 40px;
  }

  .member ul {
    font-size: 15px;
  }

  .member_imag {
    width: 250px;
    height: 250px;
  }
}

/*  768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.about{
    display: flex;
}
.about_content {
  width: 50%;
  padding: 25% 20px 15% 2%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  display: flex;
}

.about_image {
  width: 50%;
  position: relative;
   padding:0;

}
.about_image img{
    width: 100%;
    height:100% ;

}

.dig_deeper2{
  display: none;
   
}



.team-grid{

  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.member {
  gap: 50px;
  margin: auto 20px;

}
.member_imag {
  width: 250px;
  height: 250px;

}
.flex_reverse{
  gap: 100px;
}
.member h3 {
  font-size: 40px;
}


.member ul li {
  max-width: 400px;
} 

.bullet{
  font-size: 16px;
}

}