@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box ;
}
body{
  background-color: #fafbfc;
}
.container{
	margin: auto;
	max-width: 1290px;
}
a{
	text-decoration: none;
	color: #000000;
    transition: all 0.2s ease;
    display: block;
}
/*header section*/
#header{
	background: black;
  padding: 10px;
}
.top_header{
	padding: 0 20px;
	display: flex;
    justify-content: space-between;
      background: black;
}


.top_header .btn{
	background: #dd3333;
	max-width: 100%;
	padding: 8px 10px 5px 10px;

}

.card .btn a,
.top_header .btn a{
	color: white;
	text-decoration: none;
	font-size: 16px;

}
.social_icons{
	display: flex;
  align-items: center;
  justify-content: flex-start;
	gap: 10px;
}
.social_icons a{
	width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #ffffff;
}
.social_icons a i{
  color: #000000;
  font-size: 22px;
}
.header-bottom{
		display: flex;
		justify-content: center;
    align-items: center;
    padding:10px 0;
    margin: 0 auto;
}
.empty-box{
  width: 33%;
}
.header-bottom form{
	display: flex;
	gap: 10px;
  width: 33%;
}

.header-bottom form input{
font-family: "Inter", Sans-serif;
    font-size: 15px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E0E0E0;
    border-radius: 0px 0px 0px 0px;
    padding: 12px;
}
.header-bottom form button{
        background-color: #dd3333;
    padding: 10px 30px;
    border: none;
    outline: none;
        font-family: "Manrope", Sans-serif;
    font-size: 14px;
        color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
	
}
.logo-img{
  width: 34%;

}
.logo-img img {
    width: 100%;
    height: auto;
}
.navigation_section{
	background: #E0E0E0;
}
.hamburger{
  display: none;
}
.nav_menu{
    padding: 20px;
}
.nav_menu ul {
	display: flex;
	gap:50px;
	justify-content: center;
  align-items: center;
}
.nav_menu li{
  list-style: none;

}
.nav_menu li a{
color: #000000;
    fill: #000000;
    transition: .4s;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;;
   }

/*banner section*/
#main{
	padding:3% 8%;
}

.main_content{
	display: flex;
	gap: 2%;


}
.featured_post{
	    width: 66.6666%;
	  	display: flex;
	flex-direction: column;
	gap: 20px;
}

.side_bar{
	width: 33.3333%;;

}
.featured_post-img{
	display: block;
}
.featured_post-img img{
	width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
}
.main_title h2{
	text-align: center;
	color:#dd3333 ;
	font-family: "Inter", Sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.9px;
        text-shadow: -2px 1px 0px #000000;
    font-style: italic;

}
.featured_main_title h2{
	 font-size: 55px;
    font-weight: 900;
text-shadow: -2px 1px 0px #000000;
font-style: normal;

}
.post_title {
    margin-top: 15px;
}

.post_title h2 {
    font-family:Sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2em;
}
.side_bar_card{
	background-color:#DD3333 ;
	padding: 15px;
}

.sidebar_title h2 {
    font-family: "Inter", Sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -0.3px;  
    color:#ffffff;
}

.latest_post{
	display: block;
}
.post{
    background-color: #F0473B;
    padding: 10px;
    margin-top: 8%;
}

.post_text a {
    color: #ffffff;
    font-family: "Manrope", Sans-serif;
    font-weight: 500;
    font-style: italic;
}

.post_metadata{
    color: #FFB3B3;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    margin-bottom: 13px;
}

.featured_title {
  display: flex;
  align-items: center;  
  gap: 20px;
  margin-bottom: 3%;
}

.divider {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 3px; 
  height: 100%; 
    flex: 1;
}

.divider-separator {
  width: 100%; 
    max-width: 600px;     
  height: 2px;        
  background: black;   
}


.featured_post-cards{
	display: flex;
	gap: 10px;
}

.card{
   width: 100%; 
	padding: 10% 5% 5% 2%;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    background-color: #ffffff;
    border: 0 solid #69727d;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    transition: all .25s;
}

#card1{
	background: url("images/1.jpeg") center/cover no-repeat;


}
#card2 {
  background: url("images/2.jpeg") center/cover no-repeat;
}

#card3 {
  background: url("images/3.jpg") center/cover no-repeat;
}
.card .btn{
		background: #dd3333;
	padding: 5% 2%;
	width: 60%;

}
.card a{
  color: white;
  font-size: 18px;
  font-weight: bolder;
  text-align: start;
}

/*celebrity part*/
.celebrity_post{
	display: flex;
	gap: 30px;
}
.celebrity_post_side1{
	width: 70%;
}

.celebrity_cards{
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 20px;

}
.featured-post-title {
    margin-top: 15px;
}
.featured-post-title h2 {
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.featured-post-image img{
	width: 100%;
	    max-height: 240px;
}
.celeb_card a{
	cursor: pointer;
}
.celeb_card p{
	font-size: 16px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.post-card {
  padding: 20px;
  transition: all 0.3s ease;
}


.post-title h2 {
  color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.post-title a {
 transition: all 0.2s ease;
    display: block;
}


.sticky-box {
  position: sticky;
  top: 20px;      
  height: fit-content;
}

.subscribe-card {
  background: #000000;
  padding: 25px 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.subscribe-card .sidebar-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribe-card .sidebar-title img {
  display:block;
    height: 4em !important;
    width: 4em !important;
    padding: 0 !important;
}
.subscribe-card .sidebar-title h2 {
  font-family: "Inter", Sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -0.3px;
    stroke-width: 2px;
    text-shadow: -4px 3px 0px #000000;
    color: #ffffff;
  text-transform: uppercase;
}

.subscribe_description p {
  font-size: 16px;
  color:#ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.subscribe-form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-input {
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.subscribe-btn {
  color: bblack;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-footer h2 {
  color: #dd3333;
  margin: 20px 0;
  font-family: "Inter", Sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -0.3px;
    text-shadow: -2px 2px 0px #000000;
}

.celebrity_content,
.winston_content,
.charlote_content{
  margin-top: 5%;
}

/*footer*/
.footer {
    padding: 0 10%;
    padding-top: 50px;
    background-color: #000000;
}

.footer-grid{
	  display: flex;
  gap: 30px;
  flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 2px solid #ffffff;
}

.footer-col{
  flex: 1;
}
.column3,
.column1{
	width: 40%;
}
.column2{
	width: 20%;
  margin-left: 5%;
}


.footer-logo img {
    max-width: 350px;
    width: 100%;
}

.footer-description p {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 1.5;
    padding-bottom: 5px;
}


.footer-title {
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #DD3333;
    margin-bottom: 20px;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 8px;
}
.footer-post h3 a,
.footer-links a {
      font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
}

.footer-posts .footer-post {
  margin-bottom: 15px;
}


.meta {
  font-size: 16px;
  color: #777;
  margin-top: 5px;
}

.footer-bottom {
     padding: 20px 0px;
     display: flex;
     gap: 5px;
     justify-content: center;

}
.footer-bottom a ,
.footer-bottom span {
 font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

