@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(images/background_image.jpg);
  width: 100%;
  height: 50vw;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.logo {
  margin-top: 20px;
}

.nav_links {
  display: flex;
  gap: 40px;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  position: relative;
}

.nav_links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 14px;
  border-radius: 25px;
}

.nav_links a:hover {
  color: #000;
  text-decoration: underline;
}

/* Hero Content */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin-top: 7%;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Allura", cursive;
}

.hero-content p {
  font-size: 22px;
  font-weight: normal;
  width: 50%;
  text-align: center;
}

#btn-tour {
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: normal;
  border: none;
  cursor: pointer;
  background-color: white;
}

#btn-tour:hover {
  background-color: black;
  color: whitesmoke;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  background: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  border-radius: 10px;
  padding: 10px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background 0.3s;

}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

/* Nested Dropdown */
.dropdownnested {
  position: relative;
}

.dropbtnnested {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  color: black;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-contentnested {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
}

.dropdownnested:hover .dropdown-contentnested {
  display: block;
}

.dropdown-contentnested a {
  padding: 10px 16px;
  color: black;
  display: block;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-contentnested a:hover {
  background-color: #ddd;
}
main{
  background-image: url(images/background_02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;

}

main .main_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;

}

main .main_content .side1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-top: 100px;
  margin-left: 5%;
}

main .main_content .side1 h1 {
  font-size: 24px;
  font-weight: normal;
}

main .main_content .side1 p {
  font-size: 80px;
  font-weight: 700;
}

main .main_content .side2 {
  display: flex;
  gap: 20px;
  width: 50%;
  margin-right: 5%;
  margin-top: 100px;
}

main .main_content .side2 img {
  width: 48%;
  height: auto;
  border-radius: 30px;
  object-fit: cover;

}

main .main_content .side2 #img02 {
  position: relative;
  top: 20%;
}


/* Features section */
main .features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;
  margin: 40px auto 0;
  margin-bottom: 0;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: -20px 14px 52px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  position: relative;

}

main .features .feature_02,
main .features .feature_03 {
  display: flex;
  gap: 20px;
}

main .features .feature_02 h1,
main .features .feature_03 h1 {
  font-size: 20px;
}

main .features .feature_04 button {
  padding: 20px 30px;
  background-color: green;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

main .features .feature_04 button:hover {
  background-color: black;
}

/* Gallery */
article {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 50px;
  background-color: #e3e8e5;
}

article .gallary_header {
  display: flex;
  gap: 50px;
  margin-left: 10%;
}

article .gallary_header .gallary-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 20px;
}

article .gallary_header .gallary-content h1 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 20px;
}

article .gallary_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin: 0 5% 5%;
}

article .gallary_images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}


/* Section 02 */
.article_02 {
  background-color: whitesmoke;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 0;
}

.article_02 .article_02_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 5%;
}

/* Section 03 */
.article_03{
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: #fff;
  width: 100%;
  margin: 0;

}
.article_03 .article_03_side01{
  width: 50%;
  margin: 0;
  padding: 0;
  margin:0;

}
.article_03 .article_03_side01 img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.article_03_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.article_03_content h1 {
  font-size: 70px;
  font-weight: 1000;
  text-align: start;
  margin-right: 10%;
 
}

.article_03_content p {
  font-size: 20px;
}

.article_03_content .contact_us {
  background-color: green;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 30%;
  padding: 7px;

}

.contact_us:hover {
  background-color: black;
}
