
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	overflow-x: hidden;
}
.hero_sec{
  background-image: url(images/background_image.jpg);
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 2% 0% 10%;
}

.container{
	max-width: 1500px;
	max-height: auto;
	padding: 20px;
	margin: auto;

}

header .container nav{
	display: flex;
	justify-content:space-evenly;

}

.navbar_container{
	 max-width: 700px;
	 max-height: 500px;
	 text-align: center;
	 margin-top: 20px;

}

.nav_links {
  display: flex;
  gap: 40px;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  position: relative;
  width: ;
}

.nav_links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 14px;
  border-radius: 25px;
}

.nav_links a:hover {
  color: #000;
  text-decoration: underline;
}
.icon{
   margin-top: 30px;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  background: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  border-radius: 10px;
  padding: 10px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background 0.3s;

}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

/* Nested Dropdown */
.dropdownnested {
  position: relative;
}

.dropbtnnested {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  color: black;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-contentnested {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
}

.dropdownnested:hover .dropdown-contentnested {
  display: block;
}

.dropdown-contentnested a {
  padding: 10px 16px;
  color: black;
  display: block;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-contentnested a:hover {
  background-color: #ddd;
}

/* Hero Content */
.hero_container{
    max-width: 1200;
    margin: auto;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin-top: 7%;
}

.hero-content h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Allura", cursive;
}

.hero-content p {
  font-size: 22px;
  font-weight: normal;
  width: 50%;
  text-align: center;
}

#btn-tour {
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: normal;
  border: none;
  cursor: pointer;
  background-color: white;
}

#btn-tour:hover {
  background-color: black;
  color: whitesmoke;
}


/*section 02*/

.section_02{
  background-image: url(images/background_02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 5% 2% 15% 2%;
  overflow: hidden;
}

.main_content {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;

}

.main_content .side1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-top: 100px;
  margin-left: 5%;
}

.main_content .side1 h1 {
  font-size: 24px;
  font-weight: normal;
}

.main_content .side1 p {
  font-size: 80px;
  font-weight: 700;
}

.main_content .side2 {
  display: flex;
  gap: 20px;
  width: 50%;
  margin-right: 5%;
  margin-top: 100px;
}

.main_content .side2 img {
  width: 48%;
  height: auto;
  border-radius: 30px;
  object-fit: cover;

}

.main_content .side2 #img02 {
  position: relative;
  top: 20%;
}


/* Features section */
.feature_container{
	max-width: 900px;
	margin-left: 10%;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;
  margin: 40px auto 0;
  margin-bottom: 0;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: -20px 14px 52px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  position: relative;

}

.features .feature_02,
.features .feature_03 {
  display: flex;
  gap: 20px;
}

.features .feature_02 h1,
.features .feature_03 h1 {
  font-size: 20px;
}

.features .feature_04 button {
  padding: 20px 30px;
  background-color: green;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.features .feature_04 button:hover {
  background-color: black;
}

/* Gallery */

.gallary-sec{
  width: 100vw;
  background-color: #e3e8e5;
  padding: 5% 3% 10% 3%;
}

.gallary_header {
  display: flex;
  gap: 10%;
  margin-left: 5%;
  margin-top: 3%;
}

.gallary_header .gallary-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 15px;
}

.gallary_header .gallary-content h1 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 20px;
}

.gallary_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin: 5% ;
}

.gallary_images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Section 03 */
.section_03{
  background-color: whitesmoke;
  margin-top: 0;
  padding: 7% 5%;
}

.section_03 .section_03_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 2%;
}
.section_03 .section_03_content p{
  width: 70%; 
  font-size: 20px;
  font-weight: normal;


}
.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding: 20px 10px;
  margin-top: 40px;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
  scroll-behavior: smooth;
  overflow-x: auto;
}

#card1{
  background-image: url(images/slider_img_1.png);
  background-size: cover;
  background-position: center;
 
}
#card2{
  background-image: url(images/slider_img_02.png);
  background-size: cover;
  background-position: center;
 
}
#card3{
  background-image: url(images/slider_img_03.jpg);
  background-size: cover;
  background-position: center;
 
}
.overlay_img{
  min-width: 300px;
  color: white;
  text-align: center;
  padding: 20px;

}
.overlay_links{
  display: flex;
  gap: 8px;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.overlay_links a{
  text-decoration: none;
  color: white;
}

.overlay_links a:hover{
  text-decoration:underline;
  cursor: pointer;
}
.overlay_img h2{
  text-align: center;
  font-size: 30px;
  font-weight:1000;
  margin-top: 90%;
}
.card {
  min-width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  padding: 50px 20px;

}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  background-color: green;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 0px;
}

.arrow.right {
  right: 0px;
}
/*section 04*/
.section_04{
background-color: whitesmoke;
}

.article_03{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 0;

}
.article_03 .article_03_side01{
  width: 50%;

}
.article_03 .article_03_side01 img {
  width: 100%;
  height: 500px;
}

.article_03_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 40%;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.article_03_content h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: start;
  margin-right: 10%;
  width: 50%;
 
}

.article_03_content p {
  font-size: 20px;
  width:90%;
  font-weight: normal;
}

.article_03_content .contact_us {
  background-color: #77bf2a;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 20px;
  font-weight: 500px;
  padding: 12px;

}

.contact_us:hover {
  background-color: black;
}

.footer {
  background-image: url('images/background_image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  margin-right: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.6); 
  padding: 60px 10% 80px 10%;
}

.footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer_section {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer_section h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_section ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.footer_section ul li,
.footer_section a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.footer_section a:hover {
  color: #00aced;
}

.footer_section .fa {
  margin-right: 10px;
}

.social a {
  font-size: 24px;
  color: white;
}
.social_links{
  display: flex;
  gap: 10px;
}
.logo {
  width: 120px;
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #77bf2a;
  padding: 15px;
  margin: 0;
}
